[Unit]
Description=Eine Vaadin Anwendung um im Web Termine zu managen
After=syslog.target network.target

[Service]
SuccessExitStatus=143

User=kjgtermine
Group=kjgtermine

Type=simple

Environment="JAVA_HOME=/root/.sdkman/candidates/java/current"
WorkingDirectory=/opt/kjgtermine
ExecStart=/root/.sdkman/candidates/java/current/bin/java -jar kjgtermine.jar
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target
