[Unit]
Description=Eine Vaadin Anwendung um im Web Termine zu managen
After=syslog.target network.target

[Install]
WantedBy=multi-user.target

[Service]
SuccessExitStatus=143
Type=simple
ExecStop=/bin/kill -15 $MAINPID
